<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <style>
        .bigDiv {
            margin: 150px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="bigDiv">
    <button class="top top-button" onclick="window.location.href='/doctorQueryInformation'">query patient information
    </button>
    <button class="top top-button" onclick="window.location.href='/doctorEnterData'">enter patient information</button>
</div>
</body>
</html>