<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>

        .top-button {
            display: block;
            margin: 50px auto;
        }

        .bigDiv {
            text-align: center;
        }

    </style>
</head>
<body>
<button class="top top-button" onclick="window.location.href='/showRecords'">show records</button>
<div class="bigDiv">
    <button onclick="window.location.href='/patient'">patient</button>
    <button onclick="window.location.href='/doctor'">doctor</button>
    <button onclick="window.location.href='/researcher'">researcher</button>
    <button onclick="window.location.href='/regulator'">regulator</button>
</div>
</body>
</html>