<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View patient</title>
    <style>
        .bigDiv {
            margin: 150px;
            text-align: center;
        }

        label {
            width: 100px;
            display: inline-block;
        }

        input {
            display: inline-block;
            width: auto;
        }
    </style>
</head>
<body>
<div class="bigDiv">
    <label>Name</label>
    <input type="text" name="Name" disabled value="{{.patient.Name}}">
    <p></p>
    <label>Address</label>
    <input type="text" name="Address" disabled value="{{.patient.Address}}">
    <p></p>
    <label>Telephone</label>
    <input type="text" name="Telephone" disabled value="{{.patient.Telephone}}">
    <p></p>
    {{range .cases}}
    <label>TestResults</label>
    <input type="text" name="Address" disabled value="{{.TestResults}}">
    <p></p>
    <label>Diagnosis</label>
    <input type="text" name="Telephone" disabled value="{{.Diagnosis}}">
    <p></p>
    <label>Treatment</label>
    <input type="text" name="Cases" disabled value="{{.Treatment}}">
    <p></p>
    {{end}}
</div>
</body>
</html>